@font-face {
	font-family: 'FONTSPRING DEMO - Cera Round Pro';
	src: url(../../assets/fonts/FONTSPRING%20DEMO%20-%20Cera%20Round%20Pro-ca1561f8b11183e71588f537593c17db.woff2) format('woff2'),
	url(../../assets/fonts/FONTSPRING%20DEMO%20-%20Cera%20Round%20Pro-8cbb281ae3e9d873467774ae893b0f2a.woff) format('woff');
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'FONTSPRING DEMO - Cera Round Pro';
	src: url(../../assets/fonts/FONTSPRING%20DEMO%20-%20Cera%20Round%20Pro-6cc2696f5df023aab4c9d37684094ddd.woff2) format('woff2'),
	url(../../assets/fonts/FONTSPRING%20DEMO%20-%20Cera%20Round%20Pro-09ae32a852484ce145888598c2c26dac.woff) format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'FONTSPRING DEMO - Cera Round Pro';
	src: url(../../assets/fonts/FONTSPRING%20DEMO%20-%20Cera%20Round%20Pro-19b5bcc54f91d15705488bb1b14b7b9c.woff2) format('woff2'),
	url(../../assets/fonts/FONTSPRING%20DEMO%20-%20Cera%20Round%20Pro-4b0d2ed66a6d460baa97e687dae4c962.woff) format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'FONTSPRING DEMO - Cera Round Pro';
	src: url(../../assets/fonts/FONTSPRING%20DEMO%20-%20Cera%20Round%20Pro-0ec52f1bc4f64abfccf69927d3c572f6.woff2) format('woff2'),
	url(../../assets/fonts/FONTSPRING%20DEMO%20-%20Cera%20Round%20Pro-7707205a9dc4be491b5f471d9beb4339.woff) format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'FONTSPRING DEMO - Cera Round Pro';
	src: url(../../assets/fonts/FONTSPRING%20DEMO%20-%20Cera%20Round%20Pro-3d3d0ad329ac96a4a8cc66515cd79093.woff2) format('woff2'),
	url(../../assets/fonts/FONTSPRING%20DEMO%20-%20Cera%20Round%20Pro-f0b5a349156aed6d62e6dc0f893f8664.woff) format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'FONTSPRING DEMO - Cera Round Pro';
	src: url(../../assets/fonts/FONTSPRING%20DEMO%20-%20Cera%20Round%20Pro-3f581530289d32b7b26fe2ea05172536.woff2) format('woff2'),
	url(../../assets/fonts/FONTSPRING%20DEMO%20-%20Cera%20Round%20Pro-15ccdec968cd720ba5186cdaaac5060c.woff) format('woff');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}